## SQL Review

SQL is what we use to get data from databases. Specifically, SQL is the global standard language for queries to databases. In databases, information is stored in many tables which all have their own unique column organization. 

Let's use data taken by a particular bikeshare company about how its bikes are used. It consists of four tables: stations, status, trips, weather. Let's say we wanted to get a list of the station ids.

Go into the data set and summarize it.

SELECT
    station_id
FROM
    stations

|  | station_id |
|---|--------|
| 1 | 2 | 
| 2 | 3 |

Of course the result of the query in a real dataset would give us a much longer table. 

All functional SQL queries have a SELECT and a FROM clauses, but many additional clauses and keywords may be used to create more sophisticated and specific queries. Letâ€™s review some of the more widely used clauses now. We'll start with SELECT and FROM and work into the more complex clauses.

### SELECT
The SELECT clause determines which columns to fetch and display as a result of the query. Multiple columns can be called at a time and columns can also be renamed for the query results. It is important to note that aggregate functions such as sum() or count() can also be performed on an entire column as it is called.

### FROM
The FROM clause determines from which table the query is pulling data. You can only call one table at a time with FROM. When calling a table you may also rename it for the purposes of the query only. This is useful when working with tables with long names and performing joins.

### WHERE
The WHERE clause puts conditions on which values from the data the query will pull. If you only wanted to get rows which had values greater than a certain number or whose values were equal a certain string. 

Let's say we want to see all the bike trips leaving out of a particular station, let's say Broadway Street at Battery Street

SELECT
    trip_id,
    start_station
FROM
    trips
WHERE
    city = 'Broadway St at Battery St'

|  | trip_id | start_station |
|--|--|--|
| 1 | 913500 | Broadway St at Battery St |
| 2 | 913518 | Broadway St at Battery St |

#### GROUP BY
The GROUP BY clause groups the data based on the column(s) you call with it. It is key when calling aggreate functions and together they allow you answer more overarching questions about your data set. 

Let's say want to know how many bikes come into each station. The count function counts up all the rows and then the group function combines the row counts by end station.

SELECT
    end_station,
    COUNT(*) trip_count
FROM
    trips
GROUP BY end_station

| station | trip_count |
|--------|---------|
| 1 | 2nd at Folsom | 4275 |
| 2 | 2nd at South Park | 7052 |

### ORDER BY
The ORDER BY clause sorts the result table by whichever column you specify. The default order is ascending.

Let's re do our previous example, this time ordering our results by the event_count from highest to lowest.

SELECT
    Day,
    COUNT(*) event_count
FROM
    arrivals
GROUP BY 
    day
ORDER BY 
    event_count DESC

| Day | event_count |
|--------|---------|
| Satuday | 1286 |
| Tuesday | 1276 |
| Friday | 1258 |
| Monday | 1235 |
| Wednesday | 1210 |
| Sunday | 1201 |
| Thursday | 1197 |

### JOIN
As very useful tool in SQL, JOIN is more than just a clause, but an entire method. There are many times when you will only be able to answr a question using information that exists across two different tables in your dataset. These situations are solved with the join. There are many types of joins, but all of them focus on combining 2 tables into 1 (or more with intermediary tables). 

Let's say we want to get a query for a list of the citie, flight number, date, and weather for arriving flights. Since weather and flight city and number are on different tables, we'll have to fuse them along their similar columns: their respective date columns.

SELECT
    a.city destination,
    a.flight_number flgiht#,
    w.date date,
    w.event weather
FROM
    arrivals a
JOIN
    weather w
ON
    a.date = w.date

| destination | flight# | date | weather |
|------|------|------|------|
| Santa Fe | 1493 | 04/29/18 | Sunny |
| Las Vegas | 0291 | 04/30/18 | Cloudy |
| Tampa | 0864 | 5/1/18 | Rainy |

Usually both tabled are fused along just one column on a certain condition, like being equal to each other. How they are fused along that column determines the type of join. When discussing these joins, lets assuming the condition for combining the rows is that they are equal, as if most often the case.

#### Inner Join 
This type of join is where the fused tabled only has rows from its parents who had equal values in their respective columns. You can think of this as only taking the relavant rows from each table, and stitching them togehter. This is by far the most frequently used type of join, and is the type we used in our first example.

#### Left Join (Left Outer Join)
This type of join is where the entire first table is retrieved, then those rows who have matching values in their columns have second table rows with have matching column values added onto them. So this is like taking the whole first table and adding on only matching rows from the second table. Gives a lot of data, and it is recommended to be heavily filtered with clauses like WHERE first. 

#### Right Join (Right Outer Join)
This type of join is very much a reverse of the left join. In this join, the entire right table is taken, and the rows with matching column values from the first data set are added onto it.

#### Full Join (Full Outer Join)
This type of join takes data from the entirety of both tables and combines them all together. This can potentially be very messy and should be used with caution.

### CTEs
Common table expressions, or CTEs, are long clauses that have the complexity of an entire query in themselves. These 'pseudo-query-clauses' let us created intermediary tables for when we need to combine multiple clauses or aggregate functions. Becuase of the order of certain clauses, it is impossible to set-up certain query situations without CTEs.

CTEs have the basic format: __WITH__ _name_ __as__ (_psuedo-query_)

For instance, if we wanted to figure out the average  departure time for flights to each respective city, we would ned to set-up a CTE.

In [ ]:
WITH

### CASE
While not entirely a clause in and of themselves, cae statements are extremely important and allow to categorize data in new ways. Case statements allow you to set up conditions for a particular column and then take action based on each row's value. 

CASE statements follow the format: __CASE WHEN__ _condition_ __THEN__ _value_ __ELSE__ _value_ __END__ . 

For instance, let's say I wanted count how many national and international departures BWI had. If my hypothetical table only had the data on the country, how could I efficiently do this? Using a CASE statement.

SELECT
    (CASE WHEN country = 'USA' THEN 'national' ELSE 'international' END) domestic_status,
    COUNT(*) as flight_count
FROM 
    departures
GROUP BY domestic_status

| domestic_status | flight_count |
|------|------|
| national | 6349 |
| international | 7921 |